.grid-1-column {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-justify-center {
    justify-content: center;
}

.grid-align-center {
    align-items: center;
}